:root {
    --dark-color: rgb(10, 12, 43);
    --pane-padding: 5px;
}

.dark {
    background-color: var(--dark-color);
    padding: 10px;
    display: flex;
    justify-content: center;
    margin-top: 10rem !important;
}

.box {
padding: 3px auto;
}

.text-footer {
    color: beige;
}